body {
	background-color: blue;
	margin-right: 150px;
	margin-left: 150px;
}

.fixed {
    position: fixed;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
    width: 10px;
    border: 10px solid black;
}

#container {
  border: 2px solid black; 
  border-top: 10px solid gray;
  background: #ddd;
  width: 140px;
  margin: 10px;
  padding: 20px;
  font-family: Helvetica;
  font-size: 14px;
  background: #eee;
  float: right;
  display: in-line block;
  vertical-align: top
}




.header {
	font-family: georgia;
	background-color: red;
	
}

.para {
	font-family: georgia;
}

#border {
	border-style: solid;
	   border-color: yellow;
}

.para_border {
	border-style: solid;
	border-color: green;
	font-family: "Times New Roman";

}