body {background: blue;
      background-image: bushidobackground.jpg;
  }

.text {text-align: center;
	   font: helvetica;
	   
	   border-color: red;
       padding: 50px 50px 50px 50px; 
        }

.samurai2 {margin: 10%;
           border-color: red; 
           padding-top: 50px;
                 }   